
<router-outlet></router-outlet>

<div class="container">
  <div class="row">
  </div>
 <div class="row">
 <div class="col-md-12 table-bordered">
<div class="product-menu">Logo and Menu</div>
</div>

 <div class="container">
  <div class="row">
  <div class="col-md-12 table-bordered">
 <img class="img-fluid center-block product-item"
 src="http://placehold.it/1110x480" alt="">
  </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
   <a href="#">
   <img class="img-fluid center-block product-item"
   src="http://placehold.it/270x171" alt="">
   </a>
    </div>
    <!-- /.col -->
    <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
   <a href="#">
   <img class="img-fluid center-block product-item"
   src="http://placehold.it/270x171" alt="">
  </a>
   </div>
   <!-- /.col -->
  ...
   <div class="col-xs-12 col-sm-6 col-md-4 table-bordered">
  <a href="#">
  <img class="img-fluid center-block product-item"
  src="http://placehold.it/270x171" alt="">
  </a>
   </div>
   <!-- /.col -->
   </div>
   <!-- /.row -->
  </div>
  <!-- /.container -->  
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
    <img class="card-img-top center-block product-item"
   src="http://placehold.it/270x171" alt="Bakery">
    <div class="card-block">
   <h4 class="card-title">Bakery</h4>
   <p class="card-text">The best cupcakes, cookies, cakes,
   pies, cheesecakes, fresh bread,
   biscotti, muffins, bagels, fresh coffee
   and more.</p>
   <a href="#" class="btn btn-primary">Browse</a>
    </div>
    </div>
   </div>
   <button type="button"
class="btn btn-primary btn-lg">Large button</button>
<button type="button"
class="btn btn-primary btn-sm">Small button</button>

<button type="button"
class="btn btn-primary btn-lg btn-block">Block</button>
<a href="#" class="btn btn-primary btn-lg active"
 role="button">Primary link</a>

 <button type="button" disabled
class="btn btn-lg btn-primary">Primary button</button>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
  <input type="checkbox" checked autocomplete="off">
 Checkbox 1 (active)
  </label>
  <label class="btn btn-primary">
  <input type="checkbox" autocomplete="off"> Checkbox 2
  </label>

  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Checkbox 3
    </label>
   </div>
   <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1"
   autocomplete="off" checked> Radio 1 (preselected)
    </label>
    <label class="btn btn-primary">
    <input type="radio" name="options" id="option2"
   autocomplete="off"> Radio 2
    </label>
    <label class="btn btn-primary">
    <input type="radio" name="options" id="option3"
   autocomplete="off"> Radio 3
    </label>
   </div>

   <ul class="nav">
    <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Another link</a>
      </li>
      <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
      </li>
     </ul>
     <nav class="nav">
      <a class="nav-link active" href="#">Active</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Another link</a>
      <a class="nav-link disabled" href="#">Disabled</a>
     </nav>
     <ul class="nav nav-inline">
      <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Another link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
        </li>
       </ul>
       <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Another link</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
        </li>
       </ul>
       <ul class="nav nav-pills">
        <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Another link</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Another link</a>
      </li>
      <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
      </li>
     </ul>
     <ul class="nav nav-tabs">
      <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown"
     href="#" role="button" aria-haspopup="true"

     aria-expanded="false">Dropdown</a>
 <div class="dropdown-menu">
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">Separated link</a>
 </div>
 </li>
 <li class="nav-item">
 <a class="nav-link" href="#">Another link</a>
 </li>
 <li class="nav-item">
 <a class="nav-link disabled" href="#">Disabled</a>
 </li>
</ul>
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Dream Bean</a>
  <div class="nav navbar-nav">
  <a class="nav-item nav-link active" href="#">
 Home <span class="sr-only">(current)</span>
  </a>
  <a class="nav-item nav-link" href="#">Products</a>
  <a class="nav-item nav-link" href="#">Checkout</a>
  <a class="nav-item nav-link" href="#">Sign out</a>
  </div>
 </nav>
 <nav class="navbar navbar-dark" style="background-color: #666">
  <a class="navbar-brand" href="#">Dream Bean</a>
  <div class="nav navbar-nav">
  <a class="nav-item nav-link active" href="#">
 Home <span class="sr-only">(current)</span>
  </a>
  <a class="nav-item nav-link" href="#">Products</a>
  <a class="nav-item nav-link" href="#">Checkout</a>
  <a class="nav-item nav-link" href="#">Sign out</a>
  </div>
 </nav>
 <div class="container">
  <nav class="navbar navbar-dark" style="background-color: #666">
  <a class="navbar-brand" href="#">Dream Bean</a>
  <div class="nav navbar-nav">
 <a class="nav-item nav-link active" href="#">
 Home <span class="sr-only">(current)</span>
 </a>
 <a class="nav-item nav-link" href="#">Products</a>
 <a class="nav-item nav-link" href="#">Checkout</a>
 <a class="nav-item nav-link" href="#">Sign out</a>
  </div>
  </nav>
 </div>
 <div class="container">
  <nav class="navbar navbar-fixed-top navbar-dark"
 style="background-color: #666">
  <a class="navbar-brand" href="#">Dream Bean</a>
  <div class="nav navbar-nav">
 <a class="nav-item nav-link active" href="#">
 Home <span class="sr-only">(current)</span>
 </a>
 <a class="nav-item nav-link" href="#">Products</a>
 <a class="nav-item nav-link" href="#">Checkout</a>
 <a class="nav-item nav-link" href="#">Sign out</a>
  </div>
  </nav>
 </div>
 <nav class="navbar navbar-fixed-top navbar-dark"
style="background-color: #666">
 <div class="container">
 <a class="navbar-brand" href="#">Dream Bean</a>
 <div class="nav navbar-nav">
<a class="nav-item nav-link active" href="#">
Home <span class="sr-only">(current)</span>
</a>
<a class="nav-item nav-link" href="#">Products</a>
<a class="nav-item nav-link" href="#">Checkout</a>
<a class="nav-item nav-link" href="#">Sign out</a>
 </div>
 </div>
</nav>
body {
  padding-top: 51px;
 }
 body {
  padding-bottom: 51px;
 }
 <ul class="nav navbar-nav pull-xs-right">
  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"
 data-toggle="dropdown" href="#" role="button"
 aria-haspopup="true" aria-expanded="false">Cart</a>
  <div class="dropdown-menu">
 <span>The Cart Placeholder</span>
  </div>
  </li>
 </ul>

 <div class="jumbotron">
  <h1>FRESH ORGANIC MARKET</h1>
 <p>Nice chance to save a lot of money</p>
 <hr>
 <p>We are open 7 Days a Week 7:00am to 10:00pm</p>
 </div>

 <p class="h1">.h1 (Semibold 36px)</p>
<p class="h2">.h2 (Semibold 30px)</p>
<p class="h3">.h3 (Semibold 24px)</p>
<p class="h4">.h4 (Semibold 18px)</p>
<p class="h5">.h5 (Semibold 14px)</p>
<p class="h6">.h6 (Semibold 12px)</p>
<h1>Heading 1 <small>Sub-heading</small></h1>
<h2>Heading 2 <small>Sub-heading</small></h2>
<h3>Heading 3 <small>Sub-heading</small></h3>
<h4>Heading 4 <small>Sub-heading</small></h4>
<h5>Heading 5 <small>Sub-heading</small></h5>
<h6>Heading 6 <small>Sub-heading</small></h6>
<h3>
  The heading
  <small class="text-muted">with faded secondary text</small>
 </h3>

 <h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>

<p class="lead">
  This is the article lead text.
  </p>
  <p>
  This is the normal size text.
  </p>
  <div class="jumbotron">
    <h1 class="display-3">FRESH ORGANIC MARKET</h1>
    <p class="lead">Nice chance to save a lot of money</p>
    <hr class="m-y-2">
   <p>We are open 7 Days a Week 7:00am to 10:00pm</p>
   </div>
   <footer class="footer">
    <div class="container">
    <address>
   <strong>Contact Info</strong><br>
   0000 Market St, Suite 000, San Francisco, CA 00000,
   (123) 456-7890, <a href="mailto:#">support@dream-bean.com</a>
    </address>
    </div>
   </footer>
   <div class="carousel-item active">
    <img src="http://placehold.it/1110x480" alt="Bread & Pastry">
    <div class="carousel-caption">
    <h3>Bread & Pastry</h3>
    </div>
   </div>

   <ol class="carousel-indicators">
    <li data-target="#welcome-products" data-slide-to="0"

    class="active"></li>
 <li data-target="#welcome-products" data-slide-to="1"></li>
 <li data-target="#welcome-products" data-slide-to="2"></li>
</ol>
<a class="left carousel-control" href="#welcome-products"
 role="button" data-slide="prev">
 <span class="icon-prev" aria-hidden="true"></span>
 <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#welcome-products"
 role="button" data-slide="next">
 <span class="icon-next" aria-hidden="true"></span>
 <span class="sr-only">Next</span>
</a>
<div class="input-group">
  <input type="text" class="form-control"
  placeholder="Pricein USD">
 <span class="input-group-addon">.00</span>
</div>
<div class="input-group">
  <span class="input-group-addon">https://</span>
  <input type="text" class="form-control"
 placeholder="Your address">
 </div>
 <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control"
 placeholder="Price per unit">
  <span class="input-group-addon">.00</span>
 </div>
 <div class="input-group input-group-lg">
  <input type="text" class="form-control"
 placeholder="Large">
  <span class="input-group-addon">.00</span>
 </div>
 <div class="input-group">
  <input type="text" class="form-control"
 placeholder="Standard">

 <span class="input-group-addon">.00</span>
</div>
<div class="input-group input-group-sm">
 <input type="text" class="form-control"
placeholder="Small">
 <span class="input-group-addon">.00</span>
</div>
<div class="input-group">
  <span class="input-group-addon">
  <input type="checkbox">
  </span>
  <input type="text" class="form-control"
 placeholder="Select">
 </div>
 <div class="input-group">
  <span class="input-group-addon">
  <input type="radio">
  </span>
  <input type="text" class="form-control"
  placeholder="Choose">
</div>
<div class="input-group">
  <input type="text" class="form-control"
 placeholder="Search for...">
  <span class="input-group-btn">
  <button class="btn btn-secondary" type="button">Go!</button>
  </span>
 </div>

 <div class="input-group">
  <input type="text" class="form-control">
  <div class="input-group-btn">
  <button type="button"
 class="btn btn-secondary dropdown-toggle"
 data-toggle="dropdown">
 Action
  </button>
  <div class="dropdown-menu dropdown-menu-right">
 <a class="dropdown-item" href="#">Action</a>
 <a class="dropdown-item" href="#">Another action</a>
 <a class="dropdown-item" href="#">Something else here</a>
 <div role="separator" class="dropdown-divider"></div>
 <a class="dropdown-item" href="#">Separated link</a>
  </div>
  </div>
 </div>
 <div class="input-group">
  <input type="text" class="form-control">
  <div class="input-group-btn">
  <button type="button" class="btn btn-secondary">Action</button>
  <button type="button" class="btn btn-secondary dropdown-toggle"
 data-toggle="dropdown">
 <span class="sr-only">Toggle Dropdown</span>&nbsp;
  </button>
  <div class="dropdown-menu dropdown-menu-right">
 <a class="dropdown-item" href="#">Action</a>
 <a class="dropdown-item" href="#">Another action</a>
 <a class="dropdown-item" href="#">Something else here</a>
 <div role="separator" class="dropdown-divider"></div>
 <a class="dropdown-item" href="#">Separated link</a>
  </div>
  </div>
 </div>
 <div class="container">
  <div class="row">
  <div class="col-md-3">
 <div class="card">
 <div class="card-header">
 Quick Shop
 </div>
 <div class="card-block">
 <div class="input-group">
 <input type="text" class="form-control"
 placeholder="Search for...">
 <span class="input-group-btn">
 <button class="btn btn-secondary"
 type="button">Go!</button>
</span>
</div>
</div>
</div>
<!-- /.card -->
 </div>
 <!-- /.col -->
 </div>
 <!-- /.row -->
</div>
<!-- /.container -->
<ul class="list-group">
  <li class="list-group-item">Apple</li>
  <li class="list-group-item">Banana</li>
  <li class="list-group-item">Grapefruit</li>
  <li class="list-group-item">Carrot</li>
 </ul>
 <ul class="list-group">
  <li class="list-group-item">
  <span class="tag tag-default tag-pill
 pull-xs-right">15</span>
  Apple
  </li>
  <li class="list-group-item">
  <span class="tag tag-default tag-pill
 pull-xs-right">5</span>
  Banana
  </li>
  <li class="list-group-item">
  <span class="tag tag-default tag-pill
 pull-xs-right">0</span>
  Grapefruit
  </li>
  <li class="list-group-item">
  <span class="tag tag-default tag-pill
 pull-xs-right">3</span>
  Carrot
  </li>
 </ul>
 <div class="list-group">
  <a href="#" class="list-group-item">Apple</a>
  <a href="#" class="list-group-item active">Banana</a>
  <a href="#" class="list-group-item disabled">Grapefruit</a>
  <a href="#" class="list-group-item">Carrot</a>
 </div>

 
 
